.row.record
	.col-xs-2.record-count
		{{count}}
	.col-xs-8.record-body
		.row
			.col-xs-6.record-weight
				%strong {{weight}}
				%span lbs
			.col-xs-6.record-reps
				%strong {{reps}}
				%span reps
		.row
			.col-xs-12
				{{note}}