.recorder
	.date-content
		{{data.log.timestamp | date:'EEEE, d MMMM yyyy'}}
	.exercises-content
		%select(ng-options="exercise.id as exercise.name for (id , exercise) in exercises" ng-model="data.log.exercise")
	.log-content.info
		.measure
			%input(type="number" title="measure" placeholder="" ng-model="data.log.measure.value")
			%label
				{{measureOptions[data.log.measure.unit].display}}
		.duration
			%input(type="number" title="duration" placeholder="" ng-model="data.log.duration.value")
			%label
				{{durationOptions[data.log.duration.unit].display}}
	.note-content.note
		%label note
		%input(type="text" ng-model="data.log.note")
	.buttons
		%button.secondary.log(ng-click="doCallback()")
			log