.home.screen
	.title-bar
		.title-bar-item
			%button(type="button") about
		.title-bar-header
			Fitnesse
		.title-bar-item
			%button(type="button") settings
	%ul
		%li
			%a(ng-click="navigate('equipment')") equipment
		%li
			%a(ng-click="navigate('muscle_groups')") muscle groups
		%li
			%a(ng-click="navigate('exercises')") exercises
		%li
			%a(ng-click="navigate('workouts')") workouts