.list-view.screen
	.title-bar
		.title-bar-item
			%button(type="button" ng-click="back()") back
		.title-bar-header
			{{getName()}}
		.title-bar-item
			%button(type="button" ng-click="editDone()")
				%span(ng-if="mode === 'read'") edit
				%span(ng-if="mode === 'edit'") done
	%ul
		%li.add-item(ng-if="mode === 'edit'")
			%button(ng-click="create()") add new {{getName()}}
		%li.no-items(ng-if="!getItemsLength()")
			%span no {{getName()}}
		%li.flex-container(ng-repeat="(id, item) in getItems()")
			.flex-item
				%a(ng-click="read(item.id)") {{item.name}}
			.flex-item.edit-column
				%button.slay(type="button" ng-click="slay(item)" ng-if="mode === 'edit'") delete