.workout-player.screen
	.title-bar
		.title-bar-item
			%button(type="button") end
		.title-bar-header
			{{ getWorkoutName() }}
	.tabs
		.tab(ng-repeat="tab in tabs" ng-class="{'selected': tab === data.selectedTab}" ng-click="selectTab(tab)") {{ tab }}
	.records
		.filters
			%select(selected="workout")
				%option(value="workout") workout
				%option(value="exercise") exercise
			%span history
		.sessions
			.session(ng-repeat="session in getSessions()")
				%session-divider(label="tomorrow")
				%fitnesse-record(ng-repeat="record in session.records")
		%fitnesse-recorder(callback="record(data)" exercises="data.exercises")