.list-view {

	.add-item {
		text-align: center;
	}

	.no-items {
		//color: $color-accent;
		text-align: center;
	}

	li.flex-container {
  		align-items: center;
  	}

	button.slay {
	  float: right;
	}

	.edit-column {
		text-align: right;
		width: 1%;
		//padding-left: 1em;
	}

	.flex-container {
	  @include flex-container();

	  .flex-item {
	    @include flex-item();
	  }
	}

	li.flex-container {
		align-items: center;
	}
}